// Global styling for this template
@font-face { font-family: 'Integral CF Bold'; src: url('../fonts/Integral-CF-Bold.otf')}
@font-face { font-family: 'Integral CF Bold Oblique'; src: url('../fonts/Integral-CF-Bold-Oblique.otf')}
@font-face { font-family: 'Integral CF Demi Bold'; src: url('../fonts/Integral-CF-Demi-Bold.otf')}
@font-face { font-family: 'Integral CF Demi Bold Oblique'; src: url('../fonts/Integral-CF-Demi-Bold-Oblique.otf')}
@font-face { font-family: 'Integral CF Extra Bold'; src: url('../fonts/Integral-CF-Extra-Bold.otf')}
@font-face { font-family: 'Integral CF Extra Bold Oblique'; src: url('../fonts/Integral-CF-Extra-Bold-Oblique.otf')}
@font-face { font-family: 'Integral CF Heavy'; src: url('../fonts/Integral-CF-Heavy.otf')}
@font-face { font-family: 'Integral CF Heavy Oblique'; src: url('../fonts/Integral-CF-Heavy-Oblique.otf')}
@font-face { font-family: 'Integral CF Medium'; src: url('../fonts/Integral-CF-Medium.otf')}
@font-face { font-family: 'Integral CF Medium-Oblique'; src: url('../fonts/Integral-CF-Medium-Oblique.otf')}
@font-face { font-family: 'Integral CF Regular'; src: url('../fonts/Integral-CF-Regular.otf')}
@font-face { font-family: 'Integral CF Regular Oblique'; src: url('../fonts/Integral-CF-Regular-Oblique.otf')}

/** Proxima Nova **/



@font-face {
  font-family: 'proxima_nova_altblack';
  src: url('../fonts/Mark Simonson - Proxima Nova Alt Black-webfont.eot');
  src: url('../fonts/Mark Simonson - Proxima Nova Alt Black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Mark Simonson - Proxima Nova Alt Black-webfont.woff2') format('woff2'),
       url('../fonts/Mark Simonson - Proxima Nova Alt Black-webfont.woff') format('woff'),
       url('../fonts/Mark Simonson - Proxima Nova Alt Black-webfont.ttf') format('truetype'),
       url('../fonts/Mark Simonson - Proxima Nova Alt Black-webfont.svg#proxima_nova_altblack') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_nova_altbold';
  src: url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot');
  src: url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff2') format('woff2'),
       url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff') format('woff'),
       url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.ttf') format('truetype'),
       url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.svg#proxima_nova_altbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
  src: url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff2') format('woff2'),
       url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
       url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
       url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 4, 2015 */



@font-face {
  font-family: 'proxima_nova_scosfthin';
  src: url('../fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot');
  src: url('../fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff2') format('woff2'),
       url('../fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff') format('woff'),
       url('../fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.ttf') format('truetype'),
       url('../fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.svg#proxima_nova_scosfthin') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot');
  src: url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff2') format('woff2'),
       url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff') format('woff'),
       url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.ttf') format('truetype'),
       url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_nova_ltthin';
  src: url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.eot');
  src: url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff2') format('woff2'),
       url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff') format('woff'),
       url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf') format('truetype'),
       url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.svg#proxima_nova_ltthin') format('svg');
  font-weight: normal;
  font-style: normal;

}

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  font-family: 'Integral CF Medium';
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.3rem;
  letter-spacing: 3px;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  background-image: url('../img/bg.png');
  background-size: cover;
}

.first-loading-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 100px;
  font-family: 'Integral CF Medium';
  font-size: 60px;
  width: 200px;
  letter-spacing: 20px;
  color: white;
}

.second-loading-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 100px;
  color: white;
  letter-spacing: 5px;
  font-size: 40px;
}

.subheading {
  // text-transform: uppercase;
  font-weight: 500;
  // @include heading-font;
  font-size: 1.5rem;
  color: $white !important;
  font-family: 'Montserrat', sans-serif;
}

.my-auto {
  max-width: 1050px;
  margin: auto;
}

.contact-button-section {
  padding-top: 50px;
}

.contact-button {
  padding: 15px 70px;
  background-color: #000a;
  color: #fff;
  font-size: 20px;
}

.submit-button {
  padding: 10px 40px;
  background-color: #000;
  color: white;
}

.close-button {
  background: none;
  border: none;
  color: white;
  align-items: center;
  display: flex;
  margin: auto;
  font-size: 20px;
}

.content-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a0a0a0;
  opacity: 1; /* Firefox */
  font-weight: 600;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a0a0a0;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #a0a0a0;
}